
.container-fluid {
    padding: 0;
    margin: 0;
}

#side-menu {
    /*height: 100vh;*/
    /*position: fixed;*/
    background-color: #343a40;
}

.header-bar {
    background-color: #343a40;
    z-index: 10;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

.lecture {
    position: relative;
    display: inline-block;
    padding-left: 12px;
    padding-right: 12px;
    height: 32px;
    line-height: 32px;
    background-color: #e0e0e0;
    font-size: 13px;
    font-weight: 500;
    color: rgba(66, 66, 66, 0.7);
    border-radius: 16px;
    border-bottom: 2px solid lightgray;
    overflow: hidden;
    z-index: 1;
}

#calendar{
    margin-top: 20px;
}